<div class="container">
  <h1>Welcome to Right Move 99 <%= Time.zone.now %></h1>
  <%# <%= image_tag unsplash_image_url(size: '300x200', tags: 'london') %> 
  <ul>
    <% @flats.each do |flat| %>
      <li><%= render 'flat', flat: flat %></li>
    <% end %>
  </ul>
</div>
